*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.header {
    margin: 0 auto;
    width: 100%;
    padding-right: 200px;
    padding-left: 200px; 
    display: flex;
    justify-content: space-between; 
}
.header__logo {
    background: url(../img/logo.png) no-repeat center / cover;
    margin: 29px 0px 20px;
    min-width: 189px;
    min-height: 99px;
}
.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1135px;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.header__communication {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}
.header__communication-button {
    color: #0F84F7;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
    border: 3px solid #0F84F7;
    display: block;
    width: 204px;
    padding: 6px 2px;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}
.header__communication-button:hover {
    background:#0F84F7;
    color:#3aeba1; 
    border-radius: 7px;
  }
.header__communication-button:active {
   background:#3aeba1;
   color: #0F84F7;
   border-radius: 13px;
  }
.header__communication-phone {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: #2B3773;
    margin-left: 60px;
}
.header__communication-social {
    margin-left: 60px;
}
.header__communication-social a:nth-child(2) {
    margin: 0px 20px;
}
.header__navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 31px;
}
.header__navigation-item{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 20px;
    color: #2B3773;
    margin-left: 66px;
    width: 100%;
    white-space: nowrap
} 
.imgSection {
    background: url(../img/Rectangle\ 24.png) no-repeat center top / cover;
    height:100vh;
    margin-top: 16px;
    box-sizing: border-box;
 }
.mainLogo { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLogo img {
    position: absolute;
    margin-top: 50%;
}
.mainTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:16%;
    font-weight: 800;
    font-size: 67px;
    color: #FFFFFF;
}
.items {
    padding-top: 30px;
    padding-bottom: 30px;
}
.items__container {
    padding-left: 375px;
    padding-right: 375px;
    display: grid;
    grid-template-columns: minmax(770px, 770px)minmax(270px, 270px);
}
.items__cards{
    display: grid;
    grid-template-columns: minmax(370px, 370px)minmax(370px, 370px);
    grid-auto-rows: minmax(411px, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.items__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);*/
  border: 1px solid #E5E5E5;
}
.items__image img{
    height: 280px;
}
.items__category {
    text-align: center;
}
.items__category a{
    text-decoration: none;
    font-family: Open Sans;
    font-size: 18px;
    text-transform: uppercase;
    color: #0F84F7;
}
.items__name {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #171717;
    width: 285px;
}
.items__categories{
    padding-left: 230px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 270px;
}
.items__categories-tittle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #171717;
}
.items__links {
    padding-top: 20px;
    width: 270px;
}
.items__links-item{
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0px;
}
.items__links-item a{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #666666;
    display: inline-block;
}
.items__links-item:last-child{
    border: none;
}
.footer {
    padding-top: 60px;
    max-width: 1920px;
    padding-right: 200px;
    padding-left: 200px; 
    display: flex;
    justify-content: space-between; 
    margin: 100px 0px 122px;
    border-top: 1px solid #E5E5E5;
}
.footer__phone-number a{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 34px;
    color: #0F84F7;
    text-decoration: none;
    display: inline-block;
    padding-top: 20px;
}
.footer__menu-tittle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #4F4F4F;
    padding-bottom: 20px;
}
.footer-links-item a{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: #2B3773;
    padding-bottom: 15px;
    display: inline-block;
}
.footer-links-item a:last-child{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: #2B3773;
    padding-bottom: 20px;
    display: inline-block;
}
