*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1320px;
    padding-right: 200px;
    padding-left: 200px;    
}
.clearfix:after {
    content: '';
    display: table; 
    width: 100%;
    clear: both;
}
.button{
    color: #0F84F7;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
    border: 3px solid #0F84F7;
    display: block;
    width: 204px;
    padding: 6px 2px;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}
.button:hover {
  background:#0F84F7;
  color:#3aeba1; 
  border-radius: 7px;
}
.button:active {
 background:#3aeba1;
 color: #0F84F7;
 border-radius: 13px;
}
.header__logo {
    height: 99px;
    width: 189px;
}
.header__logo img{
    height: 99px;
    width: 189px;
}
.communication {}
.phone {}
.social {}
.menu {}
.menu__item {}
.imgSection {}
.mainLogo {}
.mainTitle {}
.items {}
.items__container {}
.items__cards{
    display: grid;
    height: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px 15px;
    height: 500px;
    max-width: 800px;
    margin: 0 auto ;
    padding-top: 100px;
}
.items__card {}
.items__image {}
.items__category {}
.items__name {}
.items__categories {}
.items__categories-tittle {}
.items__links {}
.items__links-item {}
.footer {}
.footer__phone {}
.footer__phone-logo {}
.footer__phone-number {}
.footer__menu {}
.footer__menu-tittle {}
.footer_links {}
.footer-links-item {}
